p{
  color: rgb(0, 4, 255);
  font-size: 14px;
}
h1{
  color: rgb(0, 0, 0);
  font-size: 32px;
  text-align: center;
}
l{
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-align: left;
}
p{
  letter-spacing: 0.01em;
  word-spacing: 1px;
  line-height: 1.5;
  text-indent: 1px;
} 
li{
  letter-spacing: 0.01em;
  word-spacing: 1px;
  line-height: 1.5;
  text-indent: 1px;
}